:host{
    .cadastro{
        gap: 15px;
        .item{
            gap: 7px;
        }
    }
    .select{
        gap: 10px;
    }
<<<<<<< Updated upstream
  a{
    width: 100px;
    color: white;
  }
=======

>>>>>>> Stashed changes
}