<app-navbar></app-navbar>
<div class="container-fluid container__customizado"> 
   <div class="filtro">
  </div>
<app-menu-filtro-produtos class="d-lg-block d-none"></app-menu-filtro-produtos>

<div class="area-dos-produtos">

  <form class="d-lg-none d-flex" role="search">
    <button type="button" class="btn btn-outline-primary btn-lg d-lg-none d-block" data-bs-toggle="modal" data-bs-target="#modalFiltraProdutos">Filtro</button>
    <div class="input-pesquisa d-flex">
      <input class="form-control me-2" type="search" placeholder="Procure seu produto..." aria-label="Search">
      <button class="btn btn-outline-success btn-lg" type="submit">Procurar</button>
    </div>

  </form>
<app-modal-filtro></app-modal-filtro>
<div class="card-area">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>

<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link active" aria-current="page" href="#">1</a>
    </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</div>
</div>




