
<div class="modal fade" id="modalFiltraProdutos" tabindex="-1" aria-labelledby="modalFiltraProdutosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFiltraProdutosLabel">Filtro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <app-menu-filtro-produtos></app-menu-filtro-produtos>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </div>
  </div>