<app-navbar></app-navbar>
<h1 class="text-center p-5 mx-auto my-3">Contato</h1>
<div class="container-fluid text-center">
  <form #e="ngForm" class="mx-auto">
    <div class="container-inputs">
      <input type="text" name="nome" ngModel #nome="ngModel" required placeholder="Nome">
      <input type="email" name="email" ngModel #email="ngModel" required placeholder="Email">
    </div>
    <div class="container-mensagem">
      <textarea required name="mensagem" ngModel #mensagem="ngModel" placeholder="Digite Sua Mensagem Aqui..."></textarea>
      <button (click)="enviarEmail(e)" class="btn btn-primary w-100">Enviar</button>
    </div>
  </form>

  <div class="card-contato d-flex flex-sm-nowrap flex-wrap mx-auto justify-content-evenly mt-4 p-3">
    <div class="container-conteudo d-flex flex-column justify-space-between align-items-start">
      <h2>Entre em contato agora mesmo</h2>
      <div class="wpp d-flex flex-row align-items-center p-2 flex-nowrap">
        <img src="../../../assets/icones/whatsapp.svg">
        <span>Posso Ajudar?</span>
      </div>
    </div>

    <div class="container-informacao d-flex flex-column justify-space-between align-items-start">
      <div class="text-start container-endereco d-flex flex-column justify-space-between align-items-start">
        <h6>Endereco:</h6>
        <span>Av altamiro avelino soares 245, castelo <br>- Belo Horizonte, MG</span>
        <span>Cep 31330-000</span>
        <span>emai@email.com</span>
        <span>(31) 98484-8326</span>
      </div>
      <div class="text-start container-endereco d-flex flex-column justify-space-between align-items-start">
        <h6>Horario de Funcionamento:</h6>
        <span>Segunda a Sexta de 08:00 às 18:00</span>
      </div>
  
    </div>
   
  </div>
</div>

<app-footer></app-footer>
