<a routerLink=""><button class="btn btn-primary btn-danger">Voltar</button></a>
<div class="container-fluid produto mt-5">
    <div class="descricao">
        <h2>Produto</h2>
     <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, expedita?</li>
     </ul>
     <button class="btn btn-primary btn-danger">Clique</button>
    </div>
    <div class="img__produto">
        <img src="../../../assets/categorias/camera.PNG" alt="produto" class="img-fluid">
    </div>
</div>