:host {
    .patrocinadores {
        // border: 3px solid rgb(255, 0, 0);
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;

        .item {
            width: 170px;
            height: auto;
            // border: 3px solid rgb(255, 0, 0);
            display: flex;
            text-align: justify;
            flex-direction: column;
            gap: 35px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }



    .categorias {
        // height: 60vh;
        // border: 3px solid black;
        max-width: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        // border: 3px solid black;

        .categoria {
            width: 49%;
            height: 345px;
            border-radius: 10px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat !important;
            background-position: bottom !important;
            background-size: contain !important;
            cursor: pointer;



            h6 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: bold;
                font-size: 2em;
                line-height: 60px;
                letter-spacing: 8px;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: inherit;
                transition: all ease 0.1s;
            }

            h6:hover {
                background-color: rgb(255, 255, 255, 0.10);
            }
        }

    }



    

       
            .card-area {
                width: 90%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 25px;
                justify-content: center;
                margin: 40px auto;
                
                .card{
                    height: 650px;
                    box-shadow: 0px 5px 10px rgb(167, 167, 167);
                }
            
                img {
                    width: 100%;
                }

                h3 {
                    color: #DA1F26;
                    font-style: italic;
                    font-size: medium;
                    margin: 5px;
                }

                p{
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    text-align: justify;
                    font-size: medium;
                }
        }
        
    




}

@media only screen and (max-width: 768px) {
    :host {
        .categoria {
            width: 98% !important;
        }
    }
}