<app-navbar></app-navbar>
<app-carrosel></app-carrosel>


<div class="container-fluid container__patrocinadores">
    <div *ngFor="let patrocinador of patrocinadores" class="item">
        <img src={{patrocinador}} alt="">
    </div>
</div>



<div class="my-5 container-fluid categorias">
    <div class="categoria" *ngFor="let categoria of categorias"
        [ngStyle]="{'background':'linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(' + categoria.img + ')'}">
        <h6>{{categoria.titulo | uppercase}}</h6>
    </div>
</div>